language: julia
os:
- linux
- osx
julia:
- release
- nightly
notifications:
  email: false
env:
  global:
  - secure: VxZIAx7SibFRTb+zNzlOUaFs6A0j7tuWbkECvuUUE9iArWLvY4KvVp55M/koyZUW4Z+/l1/KBwD5dX/D82D2W45TkafYuMZc7VZ4h9jJJRN/clnOQMEz0brkRKEAc7BrK5SJLt38WeVSN3s5i0Gfx+Wj6BVxDPUGqFPU9Wu6G/vTDMqjk3WzKQeVwOPoo9CX+0HOPgPTPS+Mb3FKragpwR9wHRRL9RPUC02Vpur/1SGwECdLOIJ8OOSiOsqUhfDsAYpyZd06Barm4wfu0L44S9YqkDYKs3ke4SGHfO0RHRoY6YKp/5rLjFw56ca0dHRNvYSiZXGFem+6AamZh/pKM2ahJGVloD2QtK+H+WV8enROimawR9Vk6TDR9+ETSLeDLCbjtCode68pK9tEmv19DHLQo4SESqcQnc9vbI1Y3v2pLo53L6CO9IlWZ/QAdtNAj13R/u/1bz/MXBw30GOzeRuEFbkOD5dQBUVKlbiOdyqCwUoBV4Fgf/7WDMIsX1E+0y1YkPkNnKpG8NnNypoxDxpet3Kbc20s7w86l6nmuLmOpLNmCuYdYpTUfEvpAqdo99WLLhpN5r0a18SJSEIIU4fyCsMZgLYosRNgHZwfxSWf841o1cmo1td2BfF8zEGKUDxmz8PeqWILD+zu3T8cWdtAAGuw3NjqukDne27X2h0=
  - secure: JPriuISIu0Scek6q1phJq8dvjAZNSJWWZIG+5dpVMTffNTrthEK6ej0u4SwMvxV+2wUp+b42+VdN0tsWDmewEFb5x1GMVzgL09L/5iWXoCa3sGWJxWPntAqQkY2/o8fXPvRRNud/4Lr6P66nZjGgv2wb2TzF9ksDoeSmtAiGJ4tNvb5WyZcwfc19AO1FieRPII1GHwqQ+dvdOtbapySOGfQNivJyiAZHL12Pj2HiPhNtqNbZhVtqZbmGEct72jbTB3PgJh7RitUdwzCVQyW1aBfeISpPPWF5UQMvgOmt+EK7E4LGnHrQKjOV0QYZGQofEUaQ20nTCT3zbTe/guGqlQazxJZGSGItt6FUzo6K5Ew4wNNtsIDbje0YOGs9VplceVGAlaO2oMoQdeeMDq5uxLmJmESbKZu1otUuEK1LpTpV39U6QDeQBr3l2sQwv7qgh0a9QIA1GXtb88ujcPsso84GoDMOqiR5X/Yj/t5G1OoCDaGtWojvstWi6jb9cEAV2hK+grRABYqC9W7yeZKLTrq6fEqglNORNKPGJQQegwPLz2xgQHiiVeQnZfLlIP6f0tR1oJ25itdROuDmJHdanxDBuCo0jOtlX+cWvokIGR5lYAoFiFGiXQpgfcaYjx8ffpuhIVZb0HKCpz7azlMp6DzjR2VPNbq4+GjYuIRFPOA=
matrix:
  allow_failures:
    - julia: nightly
